@using NTS.Judge.Features.Setup.UpcomingEvents.Participations
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components.Layout

@attribute [Route(PARTICIPATION_UPDATE)]
@inherits ParticipationContentBehind

<NContent Title="@Configure_Participation_string" IsEmpty="Model == null">

    <Main>
        <ParticipationShell Model="Model" />
    </Main>

</NContent>
