@using NTS.Judge.Features.Setup.UpcomingEvents.Participations
@using Not.Blazor.CRUD.Forms.Components

@attribute [Route(PARTICIPATION_UPDATE)]
@inherits NBehind

<NContent Title="@Configure_Participation_string">

    <Main>
        <NUpdateContainer T="ParticipationFormModel" TForm="ParticipationForm" Model="Navigator.ConsumeParameter<ParticipationFormModel>()" />
    </Main>

</NContent>
