@using NTS.Witness.Blazor.Layout.Drawer
@using Not.Blazor.Components.Layout

@inherits MainLayoutBehind

<NLayout Watermark="NTS v1.0.4" MenuTitle="@Main_menu_string">

    <Drawer>
        <NavMenu />

        <MudDivider Class="my-2" />

        <NButtonSecondary Size="Size.Small" OnClick="Signout">
            @Sign_Out_string
            <MudIcon Class="ml-2" Icon="@Icons.Material.Filled.Logout" />
        </NButtonSecondary>
    </Drawer>

    <Content>
        <HelpButton Class="help-button" ClickHandler="HelpHandler" />

        <div class="witness-route-focus-target" tabindex="-1">
            @Body
        </div>
    </Content>

</NLayout>
