@using NTS.Judge.Features.Settings
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components.Layout

@attribute [Route(SETTINGS_PAGE)]
@inherits SettingsPageBehind

<NContent Title="@Settings_string" Class="not-mid-width">

    <Main>
        @if (Service.Setting == null)
        {
            <NButtonCreate OnClick="OpenCreateForm" />
        }
        else
        {
            <NUpdateContainer T="SettingFormModel" TForm="SettingForm" Model="FormModel!" />
        }
    </Main>

</NContent>