@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Features.Setup.Clubs
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components
@using Not.Blazor.Navigation
@using Not.Blazor.Pages

@attribute [Route(CLUB_UPDATE)]
@inherits ClubContentBehind

<NContent Title="@Configure_Club_string">

    <Main>
        <ClubShell Model="Model" />
    </Main>

</NContent>

