@using NTS.Domain.Aggregates
@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Features.Setup.Clubs
@using Not.Krud.Blazor.Components

@attribute [Route(CLUBS_PAGE)]
@inherits NComponent

<NContent Title="Configure Clubs" Class="not-mid-width">

    <Main>
        @* <KrudList T="Club" Name="@Clubs_string" TModel="ClubFormModel" TForm="ClubForm" UpdateRoute="@CLUB_UPDATE" /> *@
    </Main>

</NContent>


