@using Not.Krud.Blazor.Components.Abstractions
@typeparam TModel
@typeparam TForm where TForm : KrudFormContainer<TModel>
@inherits KrudDynamicBehind<TModel, TForm>

@if (Model == null)
{
    <p>Model parameter is null at NDynamic</p>
}

<DynamicComponent Type="typeof(TForm)" @ref="_dynamicComponent" Parameters="_parameters" />
