@using NTS.Judge.Features.Setup.Horses
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Navigation

@attribute [Route(HORSE_UPDATE)]
@inherits HorseContentBehind

<NContent Title="@Configure_Horse_string" HasContent="Model != null">

    <Main>
        <HorseShell Model="Model" />
    </Main>

</NContent>
