@using NTS.Judge.Features.Setup.Horses
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Navigation

@attribute [Route(HORSE_UPDATE)]
@inherits NComponent

<NContent Title="@Configure_Horse_string">

    <Main>
        <NUpdateContainer T="HorseFormModel" TForm="HorseForm" Model="Navigator.ConsumeParameter<HorseFormModel>()" />
    </Main>

</NContent>
