@using Microsoft.AspNetCore.Components.Authorization
@using Not.Blazor.Components
@attribute [Route(PROFILE)]
@inherits ProfileBehind

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <MudGrid Justify="Justify.Center" Class="align-top" Style="height:70%;">
                <MudItem xs="8" sm="4" lg="6" xl="6">\
                    <MudStack>
                        <MudText Typo="Typo.h4" Class="mr-4"> 
                            <p>Signed in as @context.User.Identity?.Name</p>
                            <p>You have <b>@UserRoles</b> privileges.</p>
                            <MudButton Class="ml-4" Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Small" OnClick="SignoutHandler">Sign Out</MudButton>
                        </MudText>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </Authorized>
        <NotAuthorized>
            <Signin />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>