@using NTS.Witness.Blazor.Components.Snapshots
@using Microsoft.AspNetCore.Components

@attribute [Route(WitnessBlazorConstants.Pages.WITNESS_HOME)]
@inherits RedirectBehind

<p>This page redirects to Signin.</p>