@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Blazor.Setup.Loops.Dot
@using NTS.Judge.Features.Setup.UpcomingEvents.Loops
@using Not.Blazor.CRUD.Lists

@attribute [Route(LOOPS_PAGE)]
@inherits NComponent

<NContent Title="@Configure_Loops_string" Class="not-mid-width">

    <Main>
        <CrudList T="Loop" Name="@Loops_string" TModel="LoopFormModel" TForm="LoopForm" UpdateRoute="@LOOP_UPDATE" />
    </Main>

</NContent>


