@using NTS.Judge.Features.Setup.UpcomingEvents.Phases
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Components.Layout

@attribute [Route(PHASE_UPDATE)]
@inherits PhaseContentBehind

<NContent Title="Configure Phase" IsEmpty="Model == null">

    <Main>
        <PhaseShell Model="Model" />
    </Main>

</NContent>
