@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Features.Setup.UpcomingEvents.Phases
@using Not.Blazor.CRUD.Forms.Components
@using Not.Blazor.Navigation;

    using NTS.Judge.Features.Setup.UpcomingEvents.Phases;

#nullable disable
#line default
#line hidden
#nullable restore
#line (5, 12) - (5, 33) "D:\Source\NTS\not-timing-system\src\Apps\Judge\NTS.Judge.Blazor\Setup\EnduranceEvents\Phases\PhaseUpdate.razor"
    [Route(PHASE_UPDATE)]
@inherits NBehind

<NContent Title="Configure Phase">

    <Main>
        <NUpdateContainer T="PhaseFormModel" TForm="PhaseForm" Model="Navigator.ConsumeParameter<PhaseFormModel>()" />
    </Main>

</NContent>
