@using NTS.Judge.Features.Setup.UpcomingEvents.Phases
@using Not.Blazor.CRUD.Forms.Components

@attribute [Route(PHASE_UPDATE)]
@inherits NComponent

<NContent Title="Configure Phase">

    <Main>
        <NUpdateContainer T="PhaseFormModel" TForm="PhaseForm" Model="Navigator.ConsumeParameter<PhaseFormModel>()" />
    </Main>

</NContent>
