@using Not.Blazor.Pages

@attribute [Route(ATHLETE_UPDATE)]
@inherits AthleteUpdateBehind

<NContent Title="@Configure_Athlete_string">

    <Main>
        <AthleteForm Model="Model" />
    </Main>

</NContent>
