@using Not.Blazor.Pages

@attribute [Route(ATHLETE_UPDATE)]
@inherits AthletePageBehind

<NContent Title="@Configure_Athlete_string" HasContent="Model != null">

    <Main>
        <AthleteShell Model="Model" />
    </Main>

</NContent>
