@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Blazor.Features.Core.Dashboards.Components
@using NTS.Judge.Blazor.Features.Core.Dashboards.Components.Eliminations
@using NTS.Judge.Blazor.Features.Core.Dashboards.Components.Inspections
@using NTS.Judge.Blazor.Features.Core.Dashboards.Components.Snapshots
@using Not.Blazor.Components.Layout

@attribute [Route(DASHBOARD_PAGE)]
@inherits DashboardContentBehind

<NContent Title="@Dashboard_string" IsEmpty="@(!HasActiveEvent)">
    
    <Main>
        @if (HasActiveEvent)
        {
            <Dashboard />
        }
    </Main>

    <Rightbar>
        @if (HasActiveEvent)
        {
            <SnapshotPanel Class="mb-2" />

            <InspectionsPanel Class="mb-2" />

            <EliminationsPanel Class="mb-2" />
        }
    </Rightbar>

</NContent>
