@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Blazor.Features.Setup.AthletesHorses.Athletes
@using NTS.Judge.Blazor.Features.Setup.AthletesHorses.Horses
@using NTS.Judge.Features.Setup.Athletes
@using NTS.Judge.Features.Setup.Horses
@using Not.Blazor.Components.Layout
@using Not.Krud.Blazor
@using Not.Krud.Blazor.Components

@attribute [Route(ATHLETES_HORSES_PAGE)]
@inherits AthleteHorseListContentBehind

<NContent Title="@Athletes_and_Horses_string">

    <Main>
        <MudGrid Spacing="8" Style="margin-top:0!important;">
            <MudItem xs="6">
                <KrudList T="Athlete" TShell="AthleteShell" TModel="AthleteFormModel" Name="@Athletes_string" />
            </MudItem>
            
            <MudItem xs="6">
                <KrudList T="Horse" TShell="HorseShell" TModel="HorseFormModel" Name="@Horses_string" />
            </MudItem>
        </MudGrid>
    </Main>

</NContent>
