@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Contracts.Features.Setup.UpcomingEvents.Officials
@using Not.Blazor.Components.Layout
@using Not.Blazor.Navigation

@attribute [Route(OFFICIAL_UPDATE)]
@inherits OfficialContentBehind

<NContent Title="@Configure_Official_string" IsEmpty="Model == null">

    <Main>
        <OfficialShell Model="Model" />
    </Main>

</NContent>
