@attribute [Route(HOME)]

@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Blazor.Setup.EnduranceEvents
@using NTS.Judge.Features.Setup.UpcomingEvents
@using Not.Krud.Blazor.Components

@inherits NComponent

<NContent Title="@Select_event_string">
   
    <Main>
        <KrudList T="UpcomingEvent" TForm="EnduranceEventForm" TModel="UpcomingEventFormModel" Name="@Upcoming_events_string" UpdateRoute="@ENDURANCE_EVENT_PAGE" />
    </Main>
    
</NContent>

    