@using System.Collections
@using NTS.Blazor.Components.Startlist.History
@using NTS.Blazor.Components.Startlist.Upcoming

@attribute [Route(STARTLIST_PAGE)]
@inherits NComponent

<NContent Title="@Startlist_string">
    <Main>
        <StartlistUpcoming />
        <StartlistHistory />
    </Main>
</NContent>
