@using Not.Krud.Abstractions
@using Not.Krud.Blazor.Components.Abstractions

@typeparam TForm where TForm : KrudFormShell<TModel>
@typeparam TModel where TModel : IKrudFormModel, new()
@inherits KrudDynamicFormBehind<TForm, TModel>

@if (Model == null)
{
    <p>Model parameter is null at NDynamic</p>
}

<DynamicComponent Type="typeof(TForm)" @ref="DynamicComponentRef" Parameters="ComponentParameters" />
