@using Not.Blazor.Components.Layout
@using Not.Blazor.Components.Text

@inherits NLayoutBehind

<NTheme @ref="Theme"/>

<div class="n-layout-root">
    <MudLayout>
        @if (! HideLayout)
        {
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="(e) => ToggleDrawer()" />

                <MudSpacer />

                <NHeadline3 Color="Color.Secondary" Content="@Watermark" />
            </MudAppBar>

            <MudDrawer @bind-Open="DrawerOpen" Elevation="2">                    
                @Drawer
            </MudDrawer>
        }

        <MudMainContent>
            <CascadingValue Value="@Theme.ThemeProvider">
                <MudContainer MaxWidth="MaxWidth.Large" Class="py-4">
                    <div class="n-route-focus-target" tabindex="-1">
                        @Content
                    </div>
                </MudContainer>

                <NNotifier />
            </CascadingValue>
        </MudMainContent>

    </MudLayout>
</div>
