@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Blazor.Core.Dashboards.Actions
@using NTS.Judge.Blazor.Core.Dashboards.Component
@using NTS.Judge.Blazor.Shared.Components.SidePanels

@attribute [Route(DASHBOARD_PAGE)]
@inherits NComponent

<NContent Title="@Dashboard_string" HasContent="@CoreBehind.IsStarted" EmptyMessage="@The_Competitions_havent_started_yet_string">
    <Main>
        <Dashboard />
    </Main>

    <Rightbar>
        <ActionsMenu />
    </Rightbar>
</NContent>
