@using NTS.Judge.Features.Setup.UpcomingEvents.Combinations
@using Not.Blazor.CRUD.Forms.Components

@attribute [Route(COMBINATION_UPDATE)]
@inherits CombinationContentBehind

<NContent Title="Configure Combination">

    <Main>
        <CombinationShell Model="Model" />
    </Main>

</NContent>
