@using NTS.Domain.Setup.Aggregates
@using NTS.Judge.Blazor.Setup.Combinations
@using NTS.Judge.Blazor.Setup.Combinations.Dot
@using Not.Blazor.CRUD.Lists

@attribute [Route(COMBINATIONS_PAGE)]
@inherits NBehind

<NContent Title="@Configure_Combinations_string" Class="not-mid-width">
    
    <Main>
        <CrudList T="Combination" Name="@Combinations_string" TForm="CombinationForm" TModel="CombinationFormModel" UpdateRoute="@COMBINATION_UPDATE" />
    </Main>

</NContent>
