@using NTS.Domain.Setup.Aggregates
@using NTS.Domain.Setup.Aggregates.UpcomingEvents
@using NTS.Judge.Features.Setup.UpcomingEvents.Loops
@using Not.Blazor.Components.Layout
@using Not.Krud.Blazor.Components

@attribute [Route(LOOPS_PAGE)]
@inherits LoopListContentBehind

<NContent Title="@Configure_Loops_string" Class="not-mid-width">

    <Main>
        <KrudList T="Loop" TModel="LoopFormModel" TShell="LoopShell" Name="@Loops_string"  />
    </Main>

</NContent>


