@namespace Not.Blazor.Components
@inherits NBehind
@typeparam T

<td style="@CellStyle">
    @if (Value == null)
    {
        <span>-</span>
    }
    else
    {
        <span style="@TextStyle">@Value</span>
    }
</td>   
